In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv(r"C:\Users\USER\Downloads\Bengaluru_House_Data (1).csv")
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
columns_needed=['area_type','location','size','total_sqft','price','bath']

data= data.drop([x for x in data.columns if x not in columns_needed],axis=1)

In [4]:
data.head()

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00

In [5]:
data.drop_duplicates(inplace=True)

In [6]:
data.duplicated().any().sum()

0

In [7]:
data.isnull().sum()

area_type      0
location       1
size          10
total_sqft     0
bath          50
price          0
dtype: int64

In [8]:
data.dropna(inplace=True)

In [9]:
data.isna().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [10]:
data.isna().any().sum()

0

In [11]:
data['bhk']=data['size'].apply(lambda x: int(x.split(' ')[0]))

In [12]:
data['bhk'].isnull().sum()

0

In [13]:
data.head()

,area_type,location,size,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00,2

In [14]:
def convert_sqft_to_number(x):
    token = x.split('-')
    if len(token) == 2:
        return (float(token[0]) + float(token[1])) / 2
    try:
        return float(x)
    except:
        return None

In [15]:
data.total_sqft.unique()

array(['1056', '2600', '1440', ..., '7800', '1962', '1894'], dtype=object)

In [16]:
result = convert_sqft_to_number("1133 - 1384")
print(result)  # This should give you the average of 1133 and 1384

1258.5

In [17]:
data['total_sqft']=data['total_sqft'].apply(convert_sqft_to_number)

In [18]:
data.total_sqft.unique()

array([1056., 2600., 1440., ..., 7800., 1962., 1894.])

In [19]:
lctn_stat=data.groupby('location')['location'].agg('count')
lctn_stat

location
 Anekal                 1
 Basavangudi            1
 Bhoganhalli            1
 Devarabeesana Halli    5
 Devarachikkanahalli    9
                       ..
singapura paradise      1
t.c palya               1
tc.palya                2
white field,kadugodi    1
whitefiled              1
Name: location, Length: 1077, dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7639 entries, 0 to 8015
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   7639 non-null   object
 1   location    7639 non-null   object
 2   size        7639 non-null   object
 3   total_sqft  7605 non-null   float64
 4   bath        7639 non-null   float64
 5   price       7639 non-null   float64
 6   bhk         7639 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 477.4+ KB

In [21]:
data.isna().sum()

area_type      0
location       0
size           0
total_sqft    34
bath           0
price          0
bhk            0
dtype: int64

In [22]:
data.dropna(inplace=True)

In [23]:
data.isna().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

In [24]:
#we have to group the locations that are less than  10 as others
lctn_lessthan10=lctn_stat[lctn_stat<=10]
lctn_lessthan10

location
 Anekal                 1
 Basavangudi            1
 Bhoganhalli            1
 Devarabeesana Halli    5
 Devarachikkanahalli    9
                       ..
singapura paradise      1
t.c palya               1
tc.palya                2
white field,kadugodi    1
whitefiled              1
Name: location, Length: 920, dtype: int64

In [25]:
data.location=data.location.apply(lambda x: 'other' if x in lctn_lessthan10 else x)

In [26]:
data['total_sqft'].describe()

count     7605.000000
mean      1568.312260
std       1388.537615
min          1.000000
25%       1100.000000
50%       1280.000000
75%       1678.000000
max      52272.000000
Name: total_sqft, dtype: float64

In [27]:
def cnvrt(x):
    rs = x / 3
    if x > 2000:
        return float(rs)
    else:
        return float(x)

In [28]:
data2=data.copy()

In [29]:
data2['total_sqft'].describe()

count     7605.000000
mean      1568.312260
std       1388.537615
min          1.000000
25%       1100.000000
50%       1280.000000
75%       1678.000000
max      52272.000000
Name: total_sqft, dtype: float64

In [30]:
data2['total_sqft']=data2.total_sqft.apply(cnvrt)
data2['total_sqft']

0       1056.000000
1        866.666667
2       1440.000000
3       1521.000000
4       1200.000000
           ...
8011    1894.000000
8012     960.000000
8013    1760.000000
8014    1768.000000
8015    1790.000000
Name: total_sqft, Length: 7605, dtype: float64

In [31]:
data2['total_sqft'].isna().sum()

0

In [32]:
data2.isna().any().sum()

0

In [33]:
columns_needed=['area_type','location','bath','price','bhk','total_sqft']

data2=data2.drop([x for x in data2.columns if x not in columns_needed],axis=1)

In [34]:
data2 = data2[data2.bath <= 9]

In [35]:
data2.head()

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056.000000,2.0,39.07,2
1,Plot Area,other,866.666667,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440.000000,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.000000,3.0,95.00,3
4,Super built-up Area,Kothanur,1200.000000,2.0,51.00,2

In [36]:
# create a column price per sqft

data2['price_per_sqft']=(data2['price']/1)/data2['total_sqft']

In [37]:
data2.isna().sum()

area_type         0
location          0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [38]:
def remove_bhk_outlier(data):
    exclude_indices = np.array([])
    for location, location_data in data.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_data in location_data.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_data.price_per_sqft),
                'std': np.std(bhk_data.price_per_sqft),
                'count': bhk_data.shape[0]
            }
        for bhk, bhk_data in location_data.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_data[bhk_data.price_per_sqft < stats['mean']].index.values)
    return data.drop(exclude_indices, axis='index')

In [39]:
data3=remove_bhk_outlier(data2)

In [40]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5112 entries, 0 to 8015
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area_type       5112 non-null   object
 1   location        5112 non-null   object
 2   total_sqft      5112 non-null   float64
 3   bath            5112 non-null   float64
 4   price           5112 non-null   float64
 5   bhk             5112 non-null   int64
 6   price_per_sqft  5112 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 319.5+ KB

In [41]:
data4=data3[['area_type','location','total_sqft','bath','price','bhk']]
data4.head()

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056.000000,2.0,39.07,2
1,Plot Area,other,866.666667,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440.000000,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.000000,3.0,95.00,3
4,Super built-up Area,Kothanur,1200.000000,2.0,51.00,2

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

In [43]:
data4.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [44]:
area_type_category=[['Super built-up  Area', 'Plot  Area', 'Built-up  Area','Carpet  Area']]

In [45]:
ordinal_features=['area_type']

ordinal_encoder=OrdinalEncoder(categories=area_type_category)

In [46]:
categorical_features=['location']

ohe=OneHotEncoder(sparse_output=False)

In [47]:
ct=ColumnTransformer(transformers=
                     [ 
  ('ord',ordinal_encoder,ordinal_features),
  ('cat',ohe,categorical_features)]
                         )

In [48]:
ct.set_output(transform='pandas')

ColumnTransformer(transformers=[('ord',
                                 OrdinalEncoder(categories=[['Super built-up  '
                                                             'Area',
                                                             'Plot  Area',
                                                             'Built-up  Area',
                                                             'Carpet  Area']]),
                                 ['area_type']),
                                ('cat', OneHotEncoder(sparse_output=False),
                                 ['location'])])

In [49]:
encoded_features=ct.fit_transform(data4)

In [50]:
encoded_features.head()

,ord__area_type,cat__location_1st Block Jayanagar,cat__location_1st Phase JP Nagar,cat__location_2nd Stage Nagarbhavi,cat__location_5th Phase JP Nagar,cat__location_6th Phase JP Nagar,cat__location_7th Phase JP Nagar,cat__location_8th Phase JP Nagar,cat__location_9th Phase JP Nagar,cat__location_Abbigere,...,cat__location_Varthur,cat__location_Vidyaranyapura,cat__location_Vijayanagar,cat__location_Vittasandra,cat__location_Whitefield,cat__location_Yelachenahalli,cat__location_Yelahanka,cat__location_Yelahanka New Town,cat__location_Yeshwanthpur,cat__location_other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
encoded_features.isna().sum()

ord__area_type                        0
cat__location_1st Block Jayanagar     0
cat__location_1st Phase JP Nagar      0
cat__location_2nd Stage Nagarbhavi    0
cat__location_5th Phase JP Nagar      0
                                     ..
cat__location_Yelachenahalli          0
cat__location_Yelahanka               0
cat__location_Yelahanka New Town      0
cat__location_Yeshwanthpur            0
cat__location_other                   0
Length: 159, dtype: int64

In [52]:
encoded_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5112 entries, 0 to 8015
Columns: 159 entries, ord__area_type to cat__location_other
dtypes: float64(159)
memory usage: 6.2 MB

In [53]:
encoded_features.columns.unique()

Index(['ord__area_type', 'cat__location_1st Block Jayanagar',
       'cat__location_1st Phase JP Nagar',
       'cat__location_2nd Stage Nagarbhavi',
       'cat__location_5th Phase JP Nagar', 'cat__location_6th Phase JP Nagar',
       'cat__location_7th Phase JP Nagar', 'cat__location_8th Phase JP Nagar',
       'cat__location_9th Phase JP Nagar', 'cat__location_Abbigere',
       ...
       'cat__location_Varthur', 'cat__location_Vidyaranyapura',
       'cat__location_Vijayanagar', 'cat__location_Vittasandra',
       'cat__location_Whitefield', 'cat__location_Yelachenahalli',
       'cat__location_Yelahanka', 'cat__location_Yelahanka New Town',
       'cat__location_Yeshwanthpur', 'cat__location_other'],
      dtype='object', length=159)

In [54]:
new_data=pd.concat([encoded_features,data4],axis=1)

In [55]:
new_data.columns.unique()

Index(['ord__area_type', 'cat__location_1st Block Jayanagar',
       'cat__location_1st Phase JP Nagar',
       'cat__location_2nd Stage Nagarbhavi',
       'cat__location_5th Phase JP Nagar', 'cat__location_6th Phase JP Nagar',
       'cat__location_7th Phase JP Nagar', 'cat__location_8th Phase JP Nagar',
       'cat__location_9th Phase JP Nagar', 'cat__location_Abbigere',
       ...
       'cat__location_Yelahanka', 'cat__location_Yelahanka New Town',
       'cat__location_Yeshwanthpur', 'cat__location_other', 'area_type',
       'location', 'total_sqft', 'bath', 'price', 'bhk'],
      dtype='object', length=165)

In [56]:
X=new_data.drop(['area_type','location','price'],axis='columns')

In [57]:
X.head()

,ord__area_type,cat__location_1st Block Jayanagar,cat__location_1st Phase JP Nagar,cat__location_2nd Stage Nagarbhavi,cat__location_5th Phase JP Nagar,cat__location_6th Phase JP Nagar,cat__location_7th Phase JP Nagar,cat__location_8th Phase JP Nagar,cat__location_9th Phase JP Nagar,cat__location_Abbigere,...,cat__location_Vittasandra,cat__location_Whitefield,cat__location_Yelachenahalli,cat__location_Yelahanka,cat__location_Yelahanka New Town,cat__location_Yeshwanthpur,cat__location_other,total_sqft,bath,bhk
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1056.000000,2.0,2
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,866.666667,5.0,4
2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1440.000000,2.0,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1521.000000,3.0,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1200.000000,2.0,2

In [58]:
data4.price.info()

<class 'pandas.core.series.Series'>
Index: 5112 entries, 0 to 8015
Series name: price
Non-Null Count  Dtype
--------------  -----
5112 non-null   float64
dtypes: float64(1)
memory usage: 79.9 KB

In [59]:
y=data4.price

In [60]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

In [61]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4089, 162)
(1023, 162)
(4089,)
(1023,)

In [62]:
lin_reg=LinearRegression()

In [63]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [64]:
pred=lin_reg.predict(X_test)

In [65]:
score=lin_reg.score(X_train,y_train)

print('model_score:',score)

model_score: 0.41575450190770513

In [66]:
mse=np.mean(mean_squared_error(y_test,pred))
mse

15653.980070306136

In [67]:
pipeline=make_pipeline(PolynomialFeatures(2),LinearRegression())

In [68]:
pipeline.fit(X_train,y_train)

Pipeline(steps=[('polynomialfeatures', PolynomialFeatures()),
                ('linearregression', LinearRegression())])

In [69]:
predict=pipeline.predict(X_test)

In [70]:
poly_score=pipeline.score(X_train,y_train)

print('model_score:',poly_score)

model_score: 0.6178578812878058

In [71]:
def predict_price(location, total_sqft, bath, bhk):
    global X  # Use your actual DataFrame
    loc_index = X.columns.get_loc(location)

    # Initialize feature values
    X = pd.DataFrame(0, index=[0], columns=X.columns)
    X['total_sqft'] = total_sqft
    X['bath'] = bath
    X['bhk'] = bhk

    if loc_index >= 0:
        X[location] = 1

    return pipeline.predict(X)[0]

In [72]:
predict_price('cat__location_1st Phase JP Nagar',1440,2,3)

199.48532077670097

In [73]:
X.columns

Index(['ord__area_type', 'cat__location_1st Block Jayanagar',
       'cat__location_1st Phase JP Nagar',
       'cat__location_2nd Stage Nagarbhavi',
       'cat__location_5th Phase JP Nagar', 'cat__location_6th Phase JP Nagar',
       'cat__location_7th Phase JP Nagar', 'cat__location_8th Phase JP Nagar',
       'cat__location_9th Phase JP Nagar', 'cat__location_Abbigere',
       ...
       'cat__location_Vittasandra', 'cat__location_Whitefield',
       'cat__location_Yelachenahalli', 'cat__location_Yelahanka',
       'cat__location_Yelahanka New Town', 'cat__location_Yeshwanthpur',
       'cat__location_other', 'total_sqft', 'bath', 'bhk'],
      dtype='object', length=162)

In [74]:
predict_price('cat__location_Whitefield',1000,2,2)

66.34708553552628

In [75]:
predict_price("cat__location_Uttarahalli",1440,2,3)

72.87869879603386

In [76]:
predict_price("cat__location_Lingadheeranahalli",1521.000000,3.0,3.0)

95.22089737653732

In [77]:
predict_price("cat__location_Old Airport Road",910,4,4)

201.47664639353752

In [78]:
predict_price("cat__location_Old Airport Road",910,3,3)

136.9039282798767

To export the model

In [79]:
pip install pickles

Requirement already satisfied: pickles in c:\users\user\anaconda3\lib\site-packages (0.1.1)
Note: you may need to restart the kernel to use updated packages.

### import pickle
### with open('bengaluru_home_price_model.pickle','wb')as f:
    pickle.dump(pipeline,f)

In [82]:
new_data.to_csv(r"C:\Users\USER\OneDrive\Documents\SQL PORTFOLIO PROJECTS\ML deployment\ml_data.csv")

In [83]:
pickle.dump(pipeline,open('model.pkl',"wb"))

### both method for putting the model into a pickle file  works