In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\USER\OneDrive\Documents\pumpkin.csv")
data.head()

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,BALTIMORE,NaN,23 inch bins,NaN,NaN,NaN,4/29/2017,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
1,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,5/6/2017,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
2,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/2016,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/2016,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/5/2016,90.0,100.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [3]:
data=data[data['Package'].str.contains('bushel',case=True,regex=True)]

In [4]:
data.head(2)

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
70,BALTIMORE,NaN,1 1/9 bushel cartons,PIE TYPE,NaN,NaN,9/24/2016,15.0,15.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
71,BALTIMORE,NaN,1 1/9 bushel cartons,PIE TYPE,NaN,NaN,9/24/2016,18.0,18.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [5]:
columns_needed=['City Name','Package','Variety','Date','Low Price','High Price']

data= data.drop([x for x in data.columns if x not in columns_needed],axis='columns')

data.head(3)

,City Name,Package,Variety,Date,Low Price,High Price
70,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,9/24/2016,15.0,15.0
71,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,9/24/2016,18.0,18.0
72,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,10/1/2016,18.0,18.0

In [6]:
data.isna().any().sum()

0

In [7]:
data.isnull().sum()

City Name     0
Package       0
Variety       0
Date          0
Low Price     0
High Price    0
dtype: int64

In [8]:
data['price']=(data['High Price'] + data['Low Price'])/2

In [9]:
data.head(2)

,City Name,Package,Variety,Date,Low Price,High Price,price
70,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,9/24/2016,15.0,15.0,15.0
71,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,9/24/2016,18.0,18.0,18.0

In [10]:
new_data=pd.DataFrame({'City':data['City Name'],'Package':data['Package'],'Variety':data['Variety'],'High Price':data['High Price'],'Low Price':data['Low Price'],'Price':data['price'],'Date':data['Date']})

new_data.head(3)

,City,Package,Variety,High Price,Low Price,Price,Date
70,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,15.0,15.0,15.0,9/24/2016
71,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,18.0,18.0,18.0,9/24/2016
72,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,18.0,18.0,18.0,10/1/2016

In [11]:
new_data.isna().sum()

City          0
Package       0
Variety       0
High Price    0
Low Price     0
Price         0
Date          0
dtype: int64

In [12]:
new_data.loc[new_data['Package'].str.contains('1 1/9'),'Price']= new_data['Price']/(1 + 1/9)

In [13]:
new_data.loc[new_data['Package'].str.contains('1/2'),'Price']= new_data['Price']/(1/2)

In [14]:
new_data.head(3)

,City,Package,Variety,High Price,Low Price,Price,Date
70,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,15.0,15.0,13.5,9/24/2016
71,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,18.0,18.0,16.2,9/24/2016
72,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,18.0,18.0,16.2,10/1/2016

In [15]:
new_data['Month']=pd.to_datetime(new_data['Date']).dt.month

new_data['year']=pd.to_datetime(new_data['Date']).dt.year

In [16]:
new_data.head()

,City,Package,Variety,High Price,Low Price,Price,Date,Month,year
70,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,15.0,15.0,13.5,9/24/2016,9,2016
71,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,18.0,18.0,16.2,9/24/2016,9,2016
72,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,18.0,18.0,16.2,10/1/2016,10,2016
73,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,17.0,17.0,15.3,10/1/2016,10,2016
74,BALTIMORE,1 1/9 bushel cartons,PIE TYPE,15.0,15.0,13.5,10/8/2016,10,2016

In [17]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415 entries, 70 to 1742
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        415 non-null    object
 1   Package     415 non-null    object
 2   Variety     415 non-null    object
 3   High Price  415 non-null    float64
 4   Low Price   415 non-null    float64
 5   Price       415 non-null    float64
 6   Date        415 non-null    object
 7   Month       415 non-null    int32
 8   year        415 non-null    int32
dtypes: float64(3), int32(2), object(4)
memory usage: 45.3+ KB

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline

In [19]:
#ohe=OneHotEncoder(sparse_output=False)

In [20]:
#ohe.set_output(transform='pandas')

In [21]:
#ohe_encoded=ohe.fit_transform(new_data[['Variety','City','Package']])

In [22]:
#ohe_encoded

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
label_encoder=LabelEncoder()

In [25]:
new_data['City']=label_encoder.fit_transform(new_data['City'])

In [26]:
new_data['City'].unique

<bound method Series.unique of 70      1
71      1
72      1
73      1
74      1
       ..
1738    9
1739    9
1740    9
1741    9
1742    9
Name: City, Length: 415, dtype: int32>

In [27]:
new_data['Variety']=label_encoder.fit_transform(new_data['Variety'])

In [28]:
new_data['Variety'].unique

<bound method Series.unique of 70      3
71      3
72      3
73      3
74      3
       ..
1738    1
1739    1
1740    1
1741    1
1742    1
Name: Variety, Length: 415, dtype: int32>

In [29]:
new_data['Package']=label_encoder.fit_transform(new_data['Package'])

In [30]:
new_data['Package'].unique

<bound method Series.unique of 70      0
71      0
72      0
73      0
74      0
       ..
1738    2
1739    2
1740    2
1741    2
1742    2
Name: Package, Length: 415, dtype: int32>

In [31]:
new_data.head()

,City,Package,Variety,High Price,Low Price,Price,Date,Month,year
70,1,0,3,15.0,15.0,13.5,9/24/2016,9,2016
71,1,0,3,18.0,18.0,16.2,9/24/2016,9,2016
72,1,0,3,18.0,18.0,16.2,10/1/2016,10,2016
73,1,0,3,17.0,17.0,15.3,10/1/2016,10,2016
74,1,0,3,15.0,15.0,13.5,10/8/2016,10,2016

In [32]:
X=new_data.drop(['Price','Date','High Price','Low Price'],axis='columns')

In [33]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415 entries, 70 to 1742
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   City     415 non-null    int32
 1   Package  415 non-null    int32
 2   Variety  415 non-null    int32
 3   Month    415 non-null    int32
 4   year     415 non-null    int32
dtypes: int32(5)
memory usage: 27.5 KB

In [34]:
y=new_data['Price']

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.5)

In [36]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(207, 5)
(207,)
(208, 5)
(208,)

In [37]:
pipeline=make_pipeline(PolynomialFeatures(2),LinearRegression())

In [38]:
pipeline.fit(X_train,y_train)

Pipeline(steps=[('polynomialfeatures', PolynomialFeatures()),
                ('linearregression', LinearRegression())])

In [39]:
model_score=pipeline.score(X_train,y_train)
print('model_score:',model_score)

model_score: 0.8571110039111258

In [40]:
predictions=pipeline.predict(X_test)

In [41]:
print('Predicted labels: ', predictions)

Predicted labels:  [38.26299501 14.266914   15.1079687  20.04050513 28.54828012 28.54828012
 14.266914   14.97240049 16.67696262 35.41853155 36.40351717 31.81637673
 30.84133573 33.43216114 36.40351717 15.12580843 15.08294421 14.83252453
 14.97240049 33.43216114 36.40351717 32.5528855  38.26299501 12.55170194
 14.84799543 17.78023628 33.43216114 35.41853155 15.08294421 36.89380297
 41.23850076 33.93807041 32.68365468 14.97240049 31.151029   36.40351717
 35.08243186 14.84799543 20.62143082 35.41853155 38.26299501 14.88037203
 31.151029   40.84293067 35.08243186 16.86799664 34.74716728 35.72088403
 31.81637673 19.19398406 30.84133573 14.97240049 16.07529652 36.89380297
 14.84799543 31.151029   35.08243186 14.83252453 33.93807041 31.151029
 33.43216114 23.07260258 34.74716728 14.83252453 14.83252453 33.43216114
 33.53698166 32.5528855  32.5528855  33.53698166 14.83252453 14.97240049
 34.74716728 36.40351717 14.83252453 31.936373   14.97240049 34.74716728
 36.89380297 32.97043284 14.97240049 16.67696262 22.14529287 35.08243186
 16.67696262 28.54828012 14.84799543 14.97240049 14.95406784 32.66065867
 31.151029   32.97043284 18.50101645 32.45458315 12.55170194 35.41853155
 36.40351717 33.93807041 16.86799664 33.93807041 35.67645986 38.26299501
 34.74716728 30.84133573 30.84133573 33.9798466  12.55170194 14.97240049
 36.89380297 16.86799664 16.86799664 14.95406784 31.151029   16.86799664
 32.97043284 35.41853155 31.81637673 31.36581519 14.84799543 35.08243186
 41.23850076 14.88037203 32.97043284 40.84293067 30.84133573 35.08243186
 32.97043284 17.78023628 17.31505953 33.93807041 33.43216114 41.23850076
 35.41853155 32.97043284 33.93807041 33.43216114 31.14680774 16.86799664
 33.9798466  22.14529287 31.151029   34.74716728 14.84799543 32.97043284
 17.23575453 33.9798466  36.40351717 16.67696262 14.84799543 34.74716728
 34.74716728 32.5528855  32.97043284 14.86937244 32.66065867 33.43216114
 35.41853155 35.72088403 32.66065867 36.40351717 14.22050131 30.84133573
 32.97043284 31.936373   14.84799543 15.08294421 14.83252453 33.43216114
 36.89380297 35.08243186 14.83252453 32.5528855  30.84133573 14.83252453
 32.5528855  19.05951404 32.97043284 14.0383833  31.81637673 14.84799543
 34.74716728 17.23575453 30.84133573 30.84133573 33.93807041 31.936373
 32.97043284 28.54828012 33.53698166 30.97198125 36.40351717 33.93807041
 20.62143082 14.84799543 30.84133573 17.0297851  15.1079687  32.5528855
 32.28792336 35.08243186 14.95406784 32.5528855  36.40351717 36.40351717
 32.5528855  14.97240049 33.93807041 16.86799664]

In [42]:
lin_reg=LinearRegression()

In [43]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [44]:
lin_reg.predict(X_test)

array([35.24654724, 17.88708282, 17.44322482, 20.67076706, 33.26531528,
       33.26531528, 17.88708282, 13.8905134 , 15.83982428, 34.97598461,
       34.66568377, 40.57975664, 33.48690408, 32.61692122, 34.66568377,
       12.71173371, 16.34902846, 14.71001842, 13.8905134 , 32.61692122,
       34.66568377, 31.7974162 , 35.24654724, 15.06929309, 16.29855062,
       18.29833934, 32.61692122, 34.97598461, 16.34902846, 35.79548963,
       36.25421597, 33.02667373, 30.61863651, 13.8905134 , 34.18840067,
       34.66568377, 33.84617875, 16.29855062, 16.46966158, 34.97598461,
       35.24654724, 14.30026591, 34.18840067, 37.19585812, 33.84617875,
       16.6593293 , 34.5662321 , 34.25593126, 40.57975664, 25.85142225,
       33.48690408, 13.8905134 , 12.3019812 , 35.79548963, 16.29855062,
       34.18840067, 33.84617875, 14.71001842, 33.02667373, 34.18840067,
       32.61692122, 13.29259718, 34.5662321 , 14.71001842, 14.71001842,
       32.61692122, 33.74672708, 31.7974162 , 31.7974162 , 33.74672708,
       14.71001842, 13.8905134 , 34.5662321 , 34.66568377, 14.71001842,
       31.43814153, 13.8905134 , 34.5662321 , 35.79548963, 32.20716871,
       13.8905134 , 15.83982428, 14.88112938, 33.84617875, 15.83982428,
       33.26531528, 16.29855062, 13.8905134 , 15.93927595, 33.79570091,
       34.18840067, 32.20716871, 18.05819378, 42.16828883, 15.06929309,
       34.97598461, 34.66568377, 33.02667373, 16.6593293 , 33.02667373,
       34.61670994, 35.24654724, 34.5662321 , 33.48690408, 33.48690408,
       34.20545342, 15.06929309, 13.8905134 , 35.79548963, 16.6593293 ,
       16.6593293 , 15.93927595, 34.18840067, 16.6593293 , 32.20716871,
       34.97598461, 40.57975664, 32.25764655, 16.29855062, 33.84617875,
       36.25421597, 14.30026591, 32.20716871, 37.19585812, 33.48690408,
       33.84617875, 32.20716871, 18.29833934, 18.57303068, 33.02667373,
       32.61692122, 36.25421597, 34.97598461, 32.20716871, 33.02667373,
       32.61692122, 32.66739906, 16.6593293 , 34.20545342, 14.88112938,
       34.18840067, 34.5662321 , 16.29855062, 32.20716871, 17.47883432,
       34.20545342, 34.66568377, 15.83982428, 16.29855062, 34.5662321 ,
       34.5662321 , 31.7974162 , 32.20716871, 15.52952344, 33.79570091,
       32.61692122, 34.97598461, 34.25593126, 33.79570091, 34.66568377,
       13.12148622, 33.48690408, 32.20716871, 31.43814153, 16.29855062,
       16.34902846, 14.71001842, 32.61692122, 35.79548963, 33.84617875,
       14.71001842, 31.7974162 , 33.48690408, 14.71001842, 31.7974162 ,
       19.3925357 , 32.20716871, 15.88879811, 40.57975664, 16.29855062,
       34.5662321 , 17.47883432, 33.48690408, 33.48690408, 33.02667373,
       31.43814153, 32.20716871, 33.26531528, 33.74672708, 33.07715157,
       34.66568377, 33.02667373, 16.46966158, 16.29855062, 33.48690408,
       17.06908181, 17.44322482, 31.7974162 , 31.02838902, 33.84617875,
       15.93927595, 31.7974162 , 34.66568377, 34.66568377, 31.7974162 ,
       13.8905134 , 33.02667373, 16.6593293 ])

In [45]:
print(pipeline.predict([[1,0,3,9,2016]]))

[16.07529652]

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but PolynomialFeatures was fitted with feature names
  warnings.warn(

In [47]:
print(lin_reg.predict([[1,0,3,10,2016]]))

[13.8905134]

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [48]:
import pickle

In [49]:
model_filename='pumpkin-model.pkl'
pickle.dump(pipeline,open(model_filename,'wb'))

In [51]:
model=pickle.load(open('pumpkin-model.pkl','rb'))